<div class="navegador">
  <ul>
    <img [src]="image_logo" alt="logo" width="30" height="30">
    <button mat-button routerLink="/pages/interfaz"><li><strong>HuaycoSOS</strong></li></button>
    <button mat-button routerLink="/pages/usuario"><li>Usuario<mat-icon>person</mat-icon></li></button>
    <button mat-button routerLink="/pages/donaciones"><li>Donaciones<mat-icon>people</mat-icon></li></button>
    <button mat-button routerLink="/pages/cuentabancarias"><li>Cuenta Bancaria<mat-icon>credit_card</mat-icon></li></button>
    <button mat-button routerLink="/pages/Tipos_de_caso"><li>Tipo de Caso<mat-icon>timeline</mat-icon></li></button>
    <button mat-button routerLink="/pages/ubicaciones"><li>Ubicación<mat-icon>place</mat-icon></li></button>
    <button mat-button routerLink="/pages/mensajes"><li>Mensajeria<mat-icon>email</mat-icon></li></button>
    <button  mat-button routerLink="/pages/roles"><li>Roles<mat-icon>admin_panel_settings</mat-icon></li></button>
    <button mat-button routerLink="/pages/caso"><li>Caso<mat-icon>notifications</mat-icon></li></button>
    <button mat-button routerLink="/pages/eventos"><li>Evento<mat-icon>event</mat-icon></li></button>
    <button mat-button routerLink="/pages/reportes"><li>Reportes<mat-icon>assignment</mat-icon></li></button>
  </ul>
</div>
